

<div class="form-center">
  <form >
<img
id="profile-img"
src="../../assets/img/blog.png"
class="profile-img-card"
/>
<br>
<br>

    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label" >Titre</label>
    <input type="text" class="form-control" name="Titre" id="exampleFormControlInput1" placeholder="Titre" [(ngModel)]="form.Titre" #Titre="ngModel" required>  
    <div *ngIf="Titre.touched && Titre.invalid">
      <div *ngIf="Titre.errors !['required']"><title></title>titre is required</div>  
    </div>    
  </div>
   
    <div class="mb-2">
      <label  class="form-label">description</label>
      <textarea type="text" class="form-control" id="exampleFormControlTextarea1" [(ngModel)]="form.decription" #decription="ngModel" rows="3" required>
      <div *ngIf="description.touched && description.invalid">
        <div *ngIf="description.errors !['required']"><title></title>titre is required</div>
      </div>
    </textarea>
    </div>
  
    <button type="submit" class="btn btn-success" (click)="onSubmit()" [disabled]="form.invalid">save</button>
  
</form> 
</div>