<br>
<br>
<br>
<br>
<div class="form-center">
  <br/>
  <br/>
    <div class="col-md-3" *ngFor="let p of rec;let i=index ">
    <header class="jumbotron">
      <h1>
        Blog
      </h1>
    </header>
    <p>
      <!--<strong>{{ currentUser.accessToken.substring(0, 20) }} ...
        {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}</strong>
      -->
    </p>
    <p>
    <strong>titre:</strong>
    {{p.Titre | json }}
  </p>
    <p>
      <strong>description:</strong>
      {{p.decription | json }}
    </p>
    <p>
        <strong>date:</strong>
        {{p.createdAt | json }}
      </p>
     
      
      <button (click)="like(p.id)">Like</button>

   </div>

  </div>
 
  
 