<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Dashboard</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  </head>
<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <img src="assets/img/logo.png" alt="">
        <span class="d-none d-lg-block">Verstun</span>
      </a>
    </div><!-- End Logo -->
    <!-- ======= LOGGED IN SUCCESSFULLYYYYYYYYYYY ======= -->   
    
    <nav class="header-nav ms-auto">
      <li class="nav-item dropdown pe-3">

        <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
          <img src="assets/img/messages-2.jpg" alt="Profile" class="rounded-circle">
          <span class="d-none d-md-block dropdown-toggle ps-2">Syrine ZRIBI</span>
        </a><!-- End Profile Iamge Icon -->
      
        <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
          <li class="dropdown-header">
            <h6>username</h6>
            <span>role</span>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
      
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/profile">
              <i class="bi bi-person"></i>
              <span>My Profile</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
      
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/settingProfile">
              <i class="bi bi-gear"></i>
              <span>Account Settings</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
      
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/help">
              <i class="bi bi-question-circle"></i>
              <span>Need Help?</span>
            </a>
          </li>
          <li>
            <hr class="dropdown-divider">
          </li>
      
          <li>
            <a class="dropdown-item d-flex align-items-center" routerLink="/logout">
              <i class="bi bi-box-arrow-right"></i>
              <span>Sign Out</span>
            </a>
          </li>
      
        </ul><!-- End Profile Dropdown Items -->
      </li><!-- End Profile Nav -->
      
      <ul class="d-flex align-items-center" class="nav-link" *ngIf="isLoggedIn">
       
        <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/userManag">
        <i class="bi bi-person"></i>
        <span>User Management</span>
      </a>
    </li><!-- End Contact Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/sites">
        <i class="bi bi-circle"></i>
        <span>Archaeological sites Management</span>
      </a>
    </li><!-- End Contact Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/prop">
        <i class="bi bi-envelope"></i>
        <span>Guest house Management</span>
      </a>
    </li><!-- End Contact Page Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/charts">
        <i class="bi bi-bar-chart"></i>
        <span>Statistics</span>
      </a>
    </li><!-- End Blank Page Nav -->
    <li class="nav-item" class="sidebar-nav" id="sidebar-nav">
      <a class="nav-link collapsed" routerLink="/profile">
        <i class="bi bi-person"></i>
        <span>Profil</span>
      </a>
    </li>
    <ul class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      <li class="nav-item">
        <a href="/blog" class="nav-link" routerLink="/blog">Blog</a>
      </li>
    </ul><!-- End Login Page Nav -->
    <li class="nav-item" class="sidebar-nav" id="sidebar-nav">
      <a class="nav-link collapsed" routerLink="/logout">
        <i class="bi bi-box-arrow-right"></i>
        <span>Sign out</span>
      </a>
    </li><!-- End Login Page Nav -->
  </ul>
</aside><!-- End Sidebar-->
<br><br><br><br><br><br><br>
<br><br><br><br><br><br><br>
</ul></nav></header>



   <!-- ======= LOGGED IN FAILEDDDDDDDDD ======= -->    
<ul class="d-flex align-items-center" class="nav-link" *ngIf="!isLoggedIn">
   <!-- ======= Sidebar ======= -->
 <aside id="sidebar" class="sidebar">
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a class="nav-link " routerLink="/dashboard">
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li><!-- End Dashboard Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-journal-text"></i><span>Maison d'hôte</span>
      </a>
      
    </li><!-- End Forms Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
        <i class="bi bi-layout-text-window-reverse"></i><span>Sites Archéologiques</span>
      </a>
    </li><!-- End Tables Nav -->
    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/contact">
        <i class="bi bi-envelope"></i>
        <span>Contact</span>
      </a>
    </li><!-- End Contact Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/avis">
        <i class="bi bi-card-list"></i>
        <span>Avis</span>
      </a>
    </li><!-- End Register Page Nav -->

    <li class="nav-item">
      <a class="nav-link collapsed" routerLink="/reclamations">
        <i class="bi bi-box-arrow-in-right"></i>
        <span>Réclamations</span>
      </a>
    </li><!-- End Login Page Nav -->
    
  </ul>
  
 
  
  <li class="nav-item" class="sidebar-nav" id="sidebar-nav">
    <a class="nav-link collapsed" routerLink="/login">
      <i class="bi bi-box-arrow-in-right"></i>
      <span>Login</span>
    </a>
  </li><!-- End Login Page Nav -->
  <li class="nav-item" class="sidebar-nav" id="sidebar-nav">
    <a class="nav-link collapsed"  routerLink="/register">
      <i class="bi bi-card-list"></i>
      <span>Register</span>
    </a>
  </li><!-- End Register Page Nav -->

  
</aside><!-- End Sidebar-->
</ul>

  
  
  <router-outlet></router-outlet>
  
  <!-- ======= Footer ======= -->
<footer id="footer" class="footer">
  <div class="copyright">
    &copy; Copyright <strong><span>VersTun</span></strong>. All Rights Reserved
  </div>
  <div class="credits">
    <!-- All the links in the footer should remain intact. -->
    <!-- You can delete the links only if you purchased the pro version. -->
    <!-- Licensing information: https://bootstrapmade.com/license/ -->
    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/ -->
    <h3>Equipe Les Elites-Elife2022 </h3>
  </div>
</footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
 
</body>

</html>
