<div class="container">
    <div class="row">
        <div class="col" *ngFor="let p of listPosts">
            <div class="card" style="width: 75rem">
                <div class="card-body">
                    <h5 class="card-title" hidden>{{p.id}}</h5>
                    <p class="card-text"><strong></strong>{{p.content}}</p>
                </div>
            </div>
            <button type="button" class="btn btn-secondary btn-sm">❤Like</button>
            <button type="button" class="btn btn-secondary btn-sm" (click)="afficherCommentPost(p.id)">commenter</button>
            <form class="col" *ngFor="let cp of listCommentPosts">
                <h6 class="card-text"><strong></strong>{{cp.content}}</h6>
            </form>
            <div class="input-group mb-3">
<input type="text" class="form-control" placeholder="Votre commentaire..." name="content" [(ngModel)]="commentpost.content">
                <button class="btn btn-outline-secondary" type="button" (click)="ajoutCommentPost(p.id)">►</button>  
            </div>
        </div>
    </div>
</div>        
