<div class="container">
    <h3 class="title">{{title}} :</h3>
    <div class="row">
        <div class="col" *ngFor="let s of listSitesArcheologiques">
            <div class="card" style="width: 75rem">
                <img src="../../assets/img/img.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Site Archéologique : {{s.nomS}}</h5>
                    <p class="card-text"><strong>Gouvernorat : </strong>{{s.gouvernoratS}}</p>
                    <button type="button" class="btn btn-outline-success" (click)="like(s)">Like </button><p>{{s.like}}</p>
                    <button type="button" class="btn btn-outline-danger" (click)="dislike(s)">Dislike</button><p>{{s.dislike}}</p>
                </div>

            </div>

        </div>
